<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GBA MultiBoot Server</title>
    <!-- Include W3.CSS stylesheet from w3schools.com -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom CSS for styling -->
    <style>
        /* Add custom styles here */
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #4CAF50; /* Green background for header */
            color: white; /* White text color for header */
            text-align: center;
            padding: 1em 0;
        }
        section {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd; /* Gray border for sections */
        }
        h1 {
            color: #ffffff; /* White text color for h1 element */
        }
        h2 {
            color: #4CAF50; /* Green text color for h2 elements */
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
        }
        .w3-button {
            margin-right: 10px;
        }
        .rename-form {
            display: none; /* Hide rename forms by default */
        }

        /* New CSS for button alignment */
        .action-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Align buttons to the right */
            
        }

        .action-buttons button {
            margin-right: 10px; /* Add margin between buttons */
        }

        /* New CSS for the searching banner */
        #searchingBanner {
            position: fixed;
            top: 50%; /* Position it vertically in the middle of the screen */
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 255, 0.5); /* Semi-transparent blue background */
            text-align: center;
            padding: 10px;
            display: none; /* Initially hidden */
        }

        .lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
    </style>
    <script>
        // JavaScript function to toggle the visibility of rename forms
        function toggleRenameForm(event, fileName) {
            event.preventDefault(); // Prevent form submission and page refresh
            const renameForm = document.getElementById(`rename-form-${fileName}`);
            const renameButton = document.getElementById(`rename-button-${fileName}`);
            const submitRenameButton = document.getElementById(`submit-rename-button-${fileName}`);
            if (renameForm.style.display === 'none' || renameForm.style.display === '') {
                renameForm.style.display = 'block'; // Show rename form
                //renameButton.style.display = 'none'; // Hide rename button
                submitRenameButton.style.display = 'block'; // Show submit rename button
            } else {
                renameForm.style.display = 'none'; // Hide rename form
                //renameButton.style.display = 'block'; // Show rename button
                submitRenameButton.style.display = 'none'; // Hide submit rename button
            }
        }

        // JavaScript function to handle the Send Multiboot button click
        function sendMultiboot() {
            const searchingBanner = document.getElementById('searchingBanner');
            searchingBanner.style.display = 'block';
            
        }
    </script>
</head>
<body>
    <header class="w3-container w3-green">
        <h1>GBA MultiBoot Server</h1>
    </header>
    <section class="w3-container">
        <h2>Upload a File</h2>
        <!-- File upload form -->
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".gba, .mb, .gb, .gbc, .nes" required>
            <button class="w3-button w3-green" type="submit">Upload</button>
        </form>
    </section>
    <!-- Shows the searching for GBA banner-->
    <div id="searchingBanner">
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <h1>Searching for GBA...</h1>
    </div>
    <section class="w3-container">
        <h2>Uploaded Files</h2>
        <ul class="w3-ul w3-card-4">
            <!-- Loop through the list of uploaded files and display details -->
            <% files.forEach(file => { %>
                <!-- check if the file.size is above 256 KB-->
                <li class="w3-bar">
                    <!-- Display the file name -->
                    <span class="w3-bar-item w3-ellipsis <%= file.size > 256 ? 'w3-text-red' : '' %>"><%= file.name %></span>
                    <!-- Display the file size -->
                    <span class="w3-bar-item <%= file.size > 256 ? 'w3-text-red' : 'w3-text-grey' %>"><%= file.size %> KB</span>
                    <div class="action-buttons"> <!-- Add the action-buttons class here -->
                        <!-- Form for running a script on the file -->
                        <form class="w3-bar-item" action="/run-script/<%= file.name %>/<%= file.size %>" method="POST">
                            <!-- Add a loading spinner next to the button -->
                            <button id="send-multiboot-button-<%= file.name %>" class="w3-button w3-blue" onclick='sendMultiboot()' <%= file.size > 256 ? 'disabled' : '' %>>
                                Send MultiBoot
                            </button>
                            <img id="loading-spinner" src="loading-spinner.gif" alt="Loading..." style="display: none;">
                        </form>
                        <!-- Rename button with a JavaScript function call to toggleRenameForm -->
                        <button id="rename-button-<%= file.name %>" class="w3-button w3-purple" onclick="toggleRenameForm(event, '<%= file.name %>')">Rename</button>
                        <!-- Download button for the file -->
                        <form>
                            <a class="w3-bar-item w3-button w3-green" href="/download/<%= file.name %>" download>Download</a>
                        </form>
                        <!-- Form for deleting the file -->
                        <form class="w3-bar-item" action="/delete/<%= file.name %>" method="POST">
                            <button class="w3-button w3-red" type="submit">Delete</button>
                        </form>
                    </div>
                    <!-- Rename form for changing the file name -->
                    <form id="rename-form-<%= file.name %>" class="w3-bar-item rename-form" action="/rename" method="POST" style="display: none;">
                        <input type="hidden" name="oldName" value="<%= file.name %>">
                        <input class="w3-input" type="text" name="newName" placeholder="New filename" required>
                        <button id="submit-rename-button-<%= file.name %>" class="w3-button w3-green" type="submit" style="display: none;">Submit Rename</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <p>non GBA roms file size includes the size of the emulator it will be packaged with</p>
    </section>
</body>
</html>
